.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.codeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.codeBlock {
  min-width: 300px;
  max-width: 600px;
  min-height: 200px;
  flex: 1 1 50%;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  white-space: pre-wrap;
  line-height: 1.6;
  padding: 1rem;
  color: white;
  border-radius: 12px;
  overflow-x: auto;
}

.heroImg {
  max-width: 500px;
  object-fit: contain;
  height: auto;
  border-radius: 12px;
  transition: filter 0.5s ease-out;
}

.typewriter {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.cursor {
  display: inline-block;
  font-weight: bold;
  color: #fff;
}
.cursorAnimation {
  animation: pulse-cursor 0.8s infinite ease-in-out;
  transform-origin: center;
}
@keyframes pulse-cursor {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem;
  }
  .heroTitle {
    min-height: 82px;
  }
  .typewriter {
    font-size: 36px;
    min-height: 72px;
    letter-spacing: 2px;
  }

  .codeBlock {
    font-size: 14px;
    min-height: 200px;
  }

  .heroImg {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .codeWrapper {
    flex-direction: column;
    align-items: center;
  }

  .codeBlock {
    font-size: 13px;
    max-width: 100%;
    padding: 0.75rem;
  }
  .heroTitle {
    min-height: 66px;
  }
  .typewriter {
    font-size: 28px;
    min-height: 56px;
    letter-spacing: 1px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 1rem;
  }
  .heroTitle {
    min-height: 50px;
  }
  .typewriter {
    font-size: 20px;

    letter-spacing: 0.5px;
  }

  .codeBlock {
    font-size: 11px;
    padding: 0.5rem;
  }
}

:global(.fn) {
  color: #569cd6;
}

:global(.name) {
  color: #dcdcaa;
}

:global(.param) {
  color: #9cdcfe;
}

:global(.keyword) {
  color: #c586c0;
}

:global(.await) {
  color: #dcdcaa;
}

:global(.string) {
  color: #ce9178;
}

:global(.class) {
  color: #4ec9b0;
}
